.content{
    background-color: #fff;
    border-radius: 15px;
    padding: 32px;
    height: calc(100% - 51px);
    overflow: auto;
}

.title {
    font-size: 24px;
    margin-bottom: 24px;
}

.btn {
    float: right;
}